/* css 工具类 */
.pl0{
    padding-left: 0px !important;
}
.pr0{
    padding-right: 0px !important;
}
.ph0{
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.ml0{
    margin-left: 0px !important;
}
.mr0{
    margin-right: 0px !important;
}
.mh0{
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.text-center{
    text-align: center !important;
}
.text-left{
    text-align: left !important;
}
.text-right{
    text-align: right !important;
}